aiohttp==3.6.2
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.2.0
audioread==2.1.8
bitarray==1.5.3
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
fake-useragent==0.1.11
ffmpeg-normalize==1.15.3
fuzzywuzzy==0.17.0
idna==2.10
lxml==4.6.2
multidict==4.7.6
mutagen==1.42.0
Pillow==7.2.0
pyacoustid==1.1.7
python-dotenv==0.10.3
python-Levenshtein==0.12.1
requests==2.24.0
sacad==2.3.4
tqdm==4.48.2
typing-extensions==3.7.4.3
Unidecode==1.1.1
urllib3==1.26.5
web-cache==1.1.0
yarl==1.5.1
youtube-dl==2021.1.16
